.create-article-form {
    width: 938px;
    height: auto;
    border-radius: 6px;
    padding-top: 48px;
    padding-right: 32px;
    padding-bottom: 48px;
    padding-left: 32px;
    gap: 21px;
    background: #FFFFFF;
    margin: 30px 0 30px 0;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0.61px 2.93px 0px #00000005;
    box-shadow: 0px 1.46px 7.05px 0px #00000007;
    box-shadow: 0px 2.75px 13.27px 0px #00000009;
    box-shadow: 0px 4.91px 23.68px 0px #0000000B;
    box-shadow: 0px 9.19px 44.28px 0px #0000000D;
    box-shadow: 0px 22px 106px 0px #00000012;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
}

.lg-input {
    width: 874px !important;
}

.textarea {
    display: flex;
    flex-direction: column;
    gap: 0;
    border: 1px solid fuchsia;
}

.textarea-label {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #262626;
}

.text-textarea {
    width: 100%;
    height: 168px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background: #FFFFFF;
    padding: 10px;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.text-textarea:focus {
    border: 3px solid #1890FF !important;
}

.tag-delete {
    width: 120px !important;
    height: 40px !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0%;
}

.tag-add {
    color: #1890FF !important;
    border-color: #1890FF !important;
}

.create-tag {
    display: flex;
    gap: 15px;
}

.create-tags-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid aqua;
    width: 100%;
    height: auto;
    gap: 5px;
}

.send-btn {
    align-self: flex-start;
    margin-top: 10px;
}

.label-tags {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #262626;

}