.lt-article-card {
    width: 938px;
    height: 140px;
    border: 1px solid red;
    box-shadow: 0px 4px 12px 0px #00000026;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    background: white;

}

.lt-article-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid yellow;
    width: 682px;
    height: 100%;

}


.lt-parag {
    display: inline-block;
    width: 100%;
    height: 45px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #000000BF;
    margin: 0;

}